# COM Port
# may need to find attributes that do not change with the adapter used
SUBSYSTEM=="tty", ATTRS{bmAttributes}=="a0", ATTRS{idVendor}=="2478", ATTRS{version}==" 1.10", ATTRS{bMaxPower}=="100mA", NAME="nvs_com"

# USB Port
# may need to find attributes that do not change with the adapter used
SUBSYSTEM=="tty", ATTRS{bmAttributes}=="a0", ATTRS{idVendor}=="0403", ATTRS{version}==" 2.00", ATTRS{bMaxPower}==" 90mA", NAME="nvs_usb"